.content {
  display: flex;
}

#status-circle {
  width: 1em;
  height: 1em;
  padding: 1em;
  margin: 0.5em;
  border-radius: 50%;
  background-color: yellow;
}
#result {
  font-size: 2em;
  line-height: 2.3em;
}
